/* Declaración de variables */
:root {
    --text-color: aliceblue;
    --bg-color-primary: rgba(0, 255, 255);
    --bg-color-menu: rgba(240, 248, 255);
}

*{
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
    text-decoration: none;
    /* font-size: 12px; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header,
nav,
main,
footer {
    padding: 1.2rem;
}

h1 {
    font-size: 3rem;
    color: var(--bg-color-menu);
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

header {
    background-color: rgb(42, 54, 165);
    color: var(--bg-color-menu);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headerp {
    font-size: 2rem;
    color: rgb(210, 255, 12);
}

nav > .menu_pr {
    list-style: none;
}

.menu_pr {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 1rem 2rem;
    font-weight: bold;
}

nav {
    background-color: var(--bg-color-primary)
}

nav > .menu_pr a:hover {
    color: var(--bg-color-menu);
    background-color: blue;
}

nav > .menu_pr a{
    padding: 1rem 2rem;
    transition: 0.3s;
    border-radius: 8px;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    /* padding: 3rem; */
}

main > .hero {
    display: flex;
}

main > .hero > div.content-features {
    display: flex;
    gap: 1rem;
    width: 60%;
}

main > .hero > div.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.btn-primary {
    background-color: var(--bg-color-menu);
    color: black;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.rem;
    font-weight: bold;
    border-radius: 8px;
}